{extends file="bloki.html"} {block name=header}{/block} {block
name=footer}{/block} {block name=content}

<!-- Wrapper -->
<div id="wrapper">
  <!-- Main -->
  <div id="main" class="alt">
    <!-- Menu -->
    <nav id="menu">
      <a
        onclick="window.open('https://github.com/xrecc');return false;"
        href="#"
        class="icon brands alt fa-github"
      ></a>
    </nav>
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main" class="alt">
        <!-- Tekst -->
        <section id="one">
          <div class="inner">
            <header class="major">
              <h1>Logowanie</h1>
            </header>
          </div>
        </section>
      </div>

      <!-- Logowanie -->
      <section id="contact">
        <div class="inner">
          <section>
            <form method="post" action="{$conf->action_url}login">
              <div class="fields">
                <div class="field half">
                  <label for="name">Podaj login</label>
                  <input
                    id="id_login"
                    type="text"
                    name="login"
                    placeholder="login"
                  />
                </div>
                <div class="field half">
                  <label for="email">Podaj hasło</label>
                  <input
                    id="id_pass"
                    type="password"
                    name="pass"
                    placeholder="hasło"
                  />
                </div>
              </div>
              <ul class="actions">
                <li><input type="submit" value="Zaloguj" class="primary" /></li>
                <li><input type="reset" value="Wyczyść" /></li>
              </ul>
            </form>
          </section>

          {include file='messages.html'}
        </div>

        <!-- Scripts -->
        <script src="{$conf->app_url}/lib/assets/js/jquery.min.js"></script>
        <script src="{$conf->app_url}/lib/assets/js/jquery.scrolly.min.js"></script>
        <script src="{$conf->app_url}/lib/assets/js/jquery.scrollex.min.js"></script>
        <script src="{$conf->app_url}/lib/assets/js/browser.min.js"></script>
        <script src="{$conf->app_url}/lib/assets/js/breakpoints.min.js"></script>
        <script src="{$conf->app_url}/lib/assets/js/util.js"></script>
        <script src="{$conf->app_url}/lib/assets/js/main.js"></script>
        {/block}
      </section>
    </div>
  </div>
</div>
